/Users/charlieyaris/maryland_traffic_violations/maryland_traffic_violations.csv filter=lfs diff=lfs merge=lfs -text
*.twbx filter=lfs diff=lfs merge=lfs -text
*.twb filter=tableau
*.csv filter=lfs diff=lfs merge=lfs -text
*.gitattributes filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.twb filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
